{% extends 'base.html.twig' %}
{% block body %}

<!--<ul class=entries>-->
<div class="container-fluid" ng-controller="CompileCtrl" style="padding:20px;">
	<div id="appendHere"></div><br/>
    name : <input type="text" ng-model="name"/><br/>
    markup : <input type="text" ng-model="markup"/><br/>
    <button type="button" class="btn" ng-click="appendDivToElement(markup)">Append</button><br/><br/>
    
</div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset('bundles/js/controllers/CompileCtrl.js')}}"></script>
{% endblock %}
