{% extends 'base.html.twig' %}
{% block body %}
<h2>Login</h2>
  {% if error %}<p class=error>
    <strong>Error: {{ error.messageKey|trans(error.messageData,'security') }}</strong>{% endif %}
    
    <form action="{{ path('login') }}" method=post>
        <dl>
            <dt>Username:</dt>
            <dd><input type="text" name="_username"></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="_password"></dd>
            <dd>
            <button type="submit">Login</button></dd>
        </dl>
    </form>
{% endblock %}