{% extends 'base.html.twig' %}
{% block title %}Customer Management{% endblock %}
{% block body %}
{# if session.logged_in #}
{% if error %}
<div class="error">{{ error }}</div>
{% endif %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

  {# endif #}
{% endblock %}