<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Meal</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MealCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Meal
                        <!-- <small>Sort, search</small> -->
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" ng-show="!editMode">
					<div class="html5buttons">
						<div class="dt-buttons btn-group">
							<a class="btn btn-default buttons-html5" ng-click="addMeal()" tabindex="0"><span>Add</span></a>		
						</div>
					</div>
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
						<tr>
							<th>No</th>
							<th>Meal Name</th>
							<th>Category</th>
							<th>Description</th>
							<th>Price</th>
							<th>Discount</th>
							<th>Pic</th>
							<th>Action</th>
						</tr>
                        </thead>
                        <tbody>
						
						 <tr ng-repeat="meal in meals">
							<td>{{$index+1}}</td>
							<td>{{ meal.mealName }}</td>
							<td>{{ meal.category.categoryName }}</td>
							<td>{{ meal.mealDesc }}</td>
							<td>{{ meal.mealPrice }}</td>
							<td>{{ meal.discount }}</td>
							<td>
								<a href="{{meal.picture}}" title="Image from Unsplash" data-gallery="">
									<img class="img-thumbnail center-block" width="100em" ng-src="{{meal.picture}}" on-error-src="{{defaultImageSrc}}" />
								</a>
							</td>
                            <td class="center text-center"><a ng-click="editMeal(meal)"> <i class="fa fa-pencil-square-o red"></i></a>
							<a ng-click="deleteMeal(meal)"> <i class="fa fa-times-circle red"></i></a></td>
						</tr>
			
                        </tbody>
                    </table>

                </div>
				<div  id="l-form" class="ibox-content" ng-show="editMode">
					<form method="get" class="form-horizontal">
                        <div class="form-group">
							<label class="col-sm-2 control-label">Meal</label>
							<div class="col-sm-10">
							<select class="form-control" ng-model="meal.category"
									ng-options="cat.categoryName for cat in categories">                
							</select>
							</div>
                            <label class="col-sm-2 control-label">Meal Name</label>
							<div class="col-sm-10"><input required type="text" class="form-control"  placeholder="Meal Name" ng-model="meal.mealName"></div>
							<label class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10"><input required type="text" class="form-control"  placeholder="Description" ng-model="meal.mealDesc"></div>
							<label class="col-sm-2 control-label">Price</label>
							<div class="col-sm-10"><input required type="text" class="form-control"  placeholder="Price" ng-model="meal.mealPrice"></div>
							<label class="col-sm-2 control-label">Discount</label>
							<div class="col-sm-10"><input required type="text" class="form-control"  placeholder="Discount" ng-model="meal.discount"></div>
							<label class="col-sm-2 control-label">Picture</label>
							<div class="col-sm-10"><input required type="text" class="form-control" fileread placeholder="Picture" ng-model="meal.picture"></div>
							<img class="img-thumbnail" width="200em" ng-src="{{meal.picture}}" on-error-src="{{defaultImageSrc}}" />
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" ng-click="cancelChanges()" type="submit">Cancel</button>
                                <button class="btn btn-primary" ng-click="save()" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
				</div>
            </div>
        </div>
    </div>
</div>
